@import url('https://fonts.googleapis.com/css?family=Ubuntu');
html {
	height: 100%;
}

body {
	padding: 0;
	margin: 0;
	margin-bottom: 0;
	background: #e7e7e7;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	transition: .5s;
}
.parallax {
	background-color: #000;
	height: 700px;
	overflow: hidden;
	width: 100%;
	color: white;
	padding: 0px;
	margin-left: 0;
	margin-bottom: 0;
	margin-right: 0;
	box-shadow: 30px 50px 90px 4px rgba(0, 0, 0, .5);
	background-attachment: fixed;
	background-position: absolute;
	background-repeat: no-repeat;
	background-size: cover;
}

.plot {
	display: inline-block;
	overflow: hidden;
	width: 250px;
	height: 60px;
	font-size: 20px;
	position: absolute;
	font-weight: bold;
	color: #ff6a00;
	background: #262626;
	text-align: center;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	border-radius: 2px;
	letter-spacing: 1px;
	margin-left: 23%;
	margin-top: 5.6%;
	box-shadow: 8px 5px 10px 1px #000;
	border: none;
	-webkit-transition: linear 1s;
	transition: 1s;
}

.plot:hover {
	opacity: 0.7;
	letter-spacing: 2px;
	transition: 1s;
}

.plot1 {
	display: inline-block;
	overflow: hidden;
	width: 250px;
	height: 60px;
	font-size: 20px;
	position: absolute;
	font-weight: bold;
	color: #ff6a00;
	background: #262626;
	text-align: center;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	border-radius: 2px;
	letter-spacing: 1px;
	margin-left: 43%;
	margin-top: 5%;
	box-shadow: 8px 5px 10px 1px #000;
	border: none;
	-webkit-transition: linear 1s;
	transition: 1s;
}

.plot1:hover {
	opacity: 0.7;
	letter-spacing: 2px;
	transition: 1s;
}

.plot2 {
	display: inline-block;
	overflow: hidden;
	width: 250px;
	height: 60px;
	font-size: 20px;
	position: absolute;
	font-weight: bold;
	color: #ff6a00;
	background: #262626;
	text-align: center;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	border-radius: 2px;
	letter-spacing: 1px;
	margin-left: 63%;
	margin-top: 5%;
	box-shadow: 8px 5px 10px 1px #000;
	border: none;
	-webkit-transition: linear 1s;
	transition: 1s;
}

.plot2:hover {
	opacity: 0.7;
	letter-spacing: 2px;
	transition: 1s;
}

.move {
	left: 20%;

}
.table {
	text-align: left;
	color: #262626;
	margin-left: 25%;
	font-size: 2vw;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	letter-spacing: 2px;
	transition: 1s;
}

.final {
	text-align: center;
	color: #262626;
	font-size: 2vw;
	letter-spacing: 3px;
	transition: 1s;
}

.final:hover {
	letter-spacing: 10px;
	transition: 1s;
}

.The {
	position: absolute;
	font-size: 3vw;
	color: #ff6a00;
	margin-left: 29%;
	margin-top: 15%;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.start {
	font-size: 7vw;
	text-align: center;
	margin-left: 2%;
	margin-top: 13%;
}

.titles {
	font-size: 5vw;
	text-shadow: black;
	color: #262626;
	margin-top: 10%;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	font-weight: bold;
	text-align: center;
	-webkit-transition: all 1s;
	transition: 0.7s;
	letter-spacing: 4px;
}

.titles:hover {
	letter-spacing: 10px;
	transition: 1s;
}



.video {
	margin-left: 51.3%;
	align-self: center;
	box-shadow: 30px 50px 90px 4px rgba(0, 0, 0, .5);
}

* {
	box-sizing: border-box;
}
.container {
	display: inline-block;
}
.end1,
.middle1,
.middle2 {
	display: inline-block;
	overflow: hidden;
	height: 1.5em;
}
.end2 {
	position: absolute;
	color: #ff6a00;
}
.middle1,
.middle2 {
	color: #cfcfcf;
}
.middle1 {
	animation: ani1 5s infinite;
	animation-delay: -3s;
	max-width: 0;
}
.middle2 {
	animation: ani2 5s infinite;
	animation-delay: -3s;
	max-width: 10%;
}


.image {
	margin-left: 2%;
	align-self: left;
	box-shadow: 30px 50px 90px 4px rgba(0, 0, 0, .5);
}

* {
	box-sizing: border-box;
}
.container {
	display: inline-block;
}
.end1,
.middle1,
.middle2 {
	display: inline-block;
	overflow: hidden;
	height: 1.5em;
}
.end2 {
	position: absolute;
	color: #ff6a00;
}
.middle1,
.middle2 {
	color: #cfcfcf;
}
.middle1 {
	animation: ani1 5s infinite;
	animation-delay: -3s;
	max-width: 0;
}
.middle2 {
	animation: ani2 5s infinite;
	animation-delay: -3s;
	max-width: 10%;
}

.image2{
	max-width: 890px;
	position: absolute;
	left: 52%;
	top: 75%;
	max-height: 800px;
	box-shadow: 30px 50px 90px 4px rgba(0, 0, 0, .5);	
}

@keyframes ani1 {
	0% {
		max-width: 500px;
	}

	25% {
		max-width: 0;
	}

	75% {
		max-width: 0;
	}

	90% {
		max-width: 700px;
	}

	100% {
		max-width: 700px;
	}
}

@keyframes ani2 {
	0% {
		max-width: 0;
	}

	25% {
		max-width: 0;
	}

	50% {
		max-width: 700px;
	}

	75% {
		max-width: 0;
	}

	100% {
		max-width: 0;
	}
}

.result {
	display: inline-block;
	overflow: hidden;
	width: 200px;
	height: 60px;
	font-size: 20px;
	font-weight: bold;
	color: #ff6a00;
	background: #262626;
	text-align: center;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	border-radius: 4px;
	letter-spacing: 1px;
	margin-left: 45%;
	margin-top: 10%;
	box-shadow: 8px 5px 10px 1px #000;
	border: none;
	-webkit-transition: linear 1s;
	transition: 1s;
}

.result:hover {
	opacity: 0.7;
	letter-spacing: 2px;
	transition: 1s;
}

.fa {
	font-size: 60px;
	size: 90px;
	width: 100px;
	height: 200px;
	text-align: center;
	text-decoration: none;
	margin-left: 7%;
	margin-top: 1%;
	opacity: 1;
}

.fa:hover {
	opacity: 0.7;
}

.fa-facebook {
	font-size: 60px;
	size: 90px;
	margin-left: 20%;
	color: #e7e7e7;
}

.fa-twitter {
	color: #e7e7e7;
}

.fa-google {
	color: #e7e7e7;
}

.fa-youtube {
	color: #e7e7e7;
}

.fa-instagram {
	color: #e7e7e7;
}

.fa-snapchat-ghost {
	color: white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.heading {
	font-size: 4vw;
	text-align: center;
	float: center;
	text-decoration: none;
	border: none;
	color: #262626;
	margin-top: 8%;
}

#container {
	position: absolute;
	width: 320px;
	height: 340px;
	left: 14%;
	top: 76%;
	margin-left: -160px;
	margin-top: -160px;
}
#container h1 {
	font-size: large;
	text-align: center;
	color: white;
}
#container #header {
	text-align: center;
}
#container #header h1 {
	text-align: center;
	font: 26px Slackey;
	text-shadow: #000 0px 0px 1px, #000 0px 0px 1px;
}
#container #header h3 {
	color: #555;
	padding-bottom: 10px;
	text-shadow: rgba(255, 255, 255, 0.6) 0px 1px 0px;
}

#container #buttons {
	margin-top: 3px;
}

#container #buttons #play {
	font-family: 'Slackey';
	position: absolute;
	bottom: -20%;
	left: 55%;
	right: 30px;
	text-align: center;
	height: 40px;
	line-height: 40px;
	font-size: 24px;
	border-radius: 10px;
	background-size: auto 62px;
}

#container #reels {
	display: block;
	position: relative;
	height: 300px;
	width: 500px;
	overflow: hidden;
	text-align: center;
	background: #000;
	border: 10px solid;
	border-color: #777 #999 #666 #999;
	border-radius: 3px;
	-moz-box-shadow: #fff 0px 1px 0px;
}
#container #reels canvas {
	width: 120px;
	height: 300px;
	position: relative;
	background: white;
	border: 2px solid gold;
}

#container #overlay {
	width: 1000px;
	height: 100px;
	position: absolute;
	top: 0px;
	opacity: 0.3;
	background-image: -moz-linear-gradient(#555, #fff, #fff, #555);
	background-image: -webkit-gradient(linear, 0 25%, 0 100%, from(grey), color-stop(0.5, white), to(grey));
	display: none;
}
#container #overlay #winline {
	width: 1000%;
	height: 500px;
	background: red;
	position: relative;
	top: 50%;
}
#reels #results {
	display: none;
	background: white;
	border: 3px solid gold;
	height: 200px;
	width: 350px;
	left: 14%;
	top: 14%;
	margin-top: 5%;
	position: absolute;
	font-size: 30px;
}

#results #score {
	margin: 5px;
	top: 20%;
}

#results #score img {
	vertical-align: middle;
	top: 10%;
}

.button {
	position: relative;
	display: block;
	text-align: center;
	color: #fff;
	box-shadow: inset rgba(255, 255, 255, 0.15) 0px 1px 0px;
	border: 1px solid rgba(0, 0, 0, 0.15);
	background-image: -moz-linear-gradient(rgba(255, 255, 255, 0.15), rgba(0, 0, 0, 0.15));
	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		from(rgba(255, 255, 255, 0.15)),
		to(rgba(0, 0, 0, 0.15))
	);
	background-position: 0px -1px;
	text-shadow: #000 0px 0px 1px;
	text-decoration: none;
	left: 100px;
}
.button.button-default {
	background-image: -moz-linear-gradient(#77e0fb, #3f93ac);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#77e0fb), to(#3f93ac));
}
.button.button-default:hover {
	background-image: -moz-linear-gradient(#ffd539, #af861e);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ffd539), to(#af861e));
	cursor: pointer;
}
.button.button-default:active {
	background-image: -moz-linear-gradient(#ffb133, #b3671a);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ffb133), to(#b3671a));
}

* {
	box-sizing: border-box;
}

.mySlides {
	display: none;
}

.slideshow-container {
	max-width: 890px;
	position: absolute;
	left: 2%;
	top: 55.5%;
	max-height: 800px;
	box-shadow: 30px 50px 90px 4px rgba(0, 0, 0, .5);	
}

/* Next & previous buttons */
.prev,
.next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	padding: 16px;
	margin-top: -22px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
}

/* Position the "next button" to the right */
.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
	background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
	color: #f2f2f2;
	font-size: 15px;
	padding: 8px 12px;
	position: absolute;
	bottom: 8px;
	width: 100%;
	text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
	color: #f2f2f2;
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
}

/* The dots/bullets/indicators */
.dot {
	cursor: pointer;
	height: 15px;
	width: 15px;
	left: 0;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}

.active,
.dot:hover {
	background-color: #717171;
}

/* Fading animation */
.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
}

@-webkit-keyframes fade {
	from {
		opacity: .4;
	}
	to {
		opacity: 1;
	}
}

@keyframes fade {
	from {
		opacity: .4;
	}
	to {
		opacity: 1;
	}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
	.prev,
	.next,
	.text {
		font-size: 11px;
	}
}
