@import url('https://fonts.googleapis.com/css?family=Ubuntu');
html {
	height: 100%;
}

body {
	padding: 0;
	margin: 0;
	margin-bottom: 0;
	background: #e7e7e7;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	transition: .5s;
}
.parallax {
	background-color: #000;
	height: 500px;
	overflow: hidden;
	width: 100%;
	color: white;
	padding: 0px;
	margin-left: 0;
	margin-bottom: 0;
	margin-right: 0;
	box-shadow: 30px 50px 90px 4px rgba(0, 0, 0, .5);
	background-attachment: fixed;
	background-position: absolute;
	background-repeat: no-repeat;
	background-size: cover;
}

.The {
	position: absolute;
	font-size: 3vw;
	color: #ff6a00;
	margin-left: 29%;
	margin-top: 15%;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.start {
	font-size: 7vw;
	text-align: center;
	margin-left: 2%;
	margin-top: 13%;
}

.titles {
	font-size: 5vw;
	text-shadow: black;
	color: #262626;
	margin-top: 10%;
	text-align: center;
	-webkit-transition: all 1s;
	transition: 0.7s;
	letter-spacing: 4px;
}

.titles:hover {
	letter-spacing: 10px;
	transition: 1s;
}

.video {
	margin-left: 2.5%;
	align-self: center;
	box-shadow: 30px 50px 90px 4px rgba(0, 0, 0, .5);
}

* {
	box-sizing: border-box;
}
.container {
	display: inline-block;
}
.end1,
.middle1,
.middle2 {
	display: inline-block;
	overflow: hidden;
	height: 1.5em;
}
.end2 {
	position: absolute;
	color: #ff6a00;
}
.middle1,
.middle2 {
	color: #cfcfcf;
}
.middle1 {
	animation: ani1 5s infinite;
	animation-delay: -3s;
	max-width: 0;
}
.middle2 {
	animation: ani2 5s infinite;
	animation-delay: -3s;
	max-width: 10%;
}

@keyframes ani1 {
	0% {
		max-width: 500px;
	}

	25% {
		max-width: 0;
	}

	75% {
		max-width: 0;
	}

	90% {
		max-width: 700px;
	}

	100% {
		max-width: 700px;
	}
}

@keyframes ani2 {
	0% {
		max-width: 0;
	}

	25% {
		max-width: 0;
	}

	50% {
		max-width: 700px;
	}

	75% {
		max-width: 0;
	}

	100% {
		max-width: 0;
	}
}

.result{
	display: inline-block;
	overflow: hidden;
	width: 200px;
	height: 60px;
	font-size: 20px;
	font-weight: bold;
	color: #ff6a00;
	background: #262626;
	text-align: center;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	border-radius: 10px;
	letter-spacing: 1px;
	margin-left: 45%;
	margin-top: 10%;
	box-shadow:8px 5px 10px 1px #000;
	border: none;
	-webkit-transition: linear 1s;
	transition: 1s;
}

.result:hover{
	opacity: 0.7;
	letter-spacing: 2px;
	transition: 1s;	
}

.plot{
	display: inline-block;
	overflow: hidden;
	width: 250px;
	height: 60px;
	font-size: 20px;
	font-weight: bold;
	color: #ff6a00;
	background: #262626;
	text-align: center;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	border-radius: 2px;
	letter-spacing: 1px;
	margin-left: 43%;
	margin-top: 5%;
	box-shadow:8px 5px 10px 1px #000;
	border: none;
	-webkit-transition: linear 1s;
	transition: 1s;
}

.plot:hover{
	opacity: 0.7;
	letter-spacing: 2px;
	transition: 1s;	
}

.final {
	text-align: center;
	color: #262626;
	font-size: 2vw;
	letter-spacing: 3px;
	transition: 1s;
}
	
   .final:hover {
	letter-spacing: 10px;
	transition: 1s;
}


.fa {
	font-size: 60px;
	size: 100px;
	width: 100px;
	height: 200px;
	text-align: center;
	text-decoration: none;
	margin-left: 3%;
	margin-top: 1%;
	opacity: 1;
}

.fa:hover {
	opacity: 0.7;
}

.fa-facebook {
	font-size: 60px;
	size: 90px;
	margin-left: 20%;
	color: #e7e7e7;
}

.fa-twitter {
	color: #e7e7e7;
}

.fa-google {
	color: #e7e7e7;
}

.fa-youtube {
	color: #e7e7e7;
}

.fa-instagram {
	color: #e7e7e7;
}

.fa-snapchat-ghost {
	color: white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
